// Colors
$purple-1: #3e3e99;
$purple-2: #6563d6;
$purple-3: #cccfff;

$blue-1: #292966;

$gray-1: #dfe6f2;
$gray-2: #edf2fa;
$gray-3: #f8f9fc;

$black: #1E1E1E;
$white: #FFFFFF;

$green-1: #00454d;
$green-2: #007380;
$green-3: #00b7cc;
$green-4: #abeff5ff;
$green-5: #ebf8fa;

$yellow-1: #b35a00;
$yellow-2: #e68a00;
$yellow-3: #ffbb33;
$yellow-4: #ffee99;
$yellow-5: #fcf7e3;

$red-1: #801929;
$red-2: #b3243c;
$red-3: #ff3355;
$red-4: #ffb3b3;
$red-5: #fff0f0;