@import "../../utils/styles/size";
@import "../../utils/styles/mixins";

.navbar-component {
  @include card-content();
}

.navbar-menu {
  list-style: none;
  padding: 0 0 0 $size-10;
  margin: 0;

  li + li {
    margin-top: $size-15;
  }

  a {
    text-decoration: none;
  }

  .bi {
    font-size: 1.3em;
    margin-right: $size-10;
    line-height: 1;
  }
}