// Reset CSS imports
@import "normalize.css";
// Bootstrap grid and icons import
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
// Google Fonts Roboto import
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
// Utils import
@import "./utils/styles/colors";
@import "./utils/styles/size";

// Reset
$header-size: 80px;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}


body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: $font-lighter;
  color: $black;
  background-color: $gray-3;
}

body {
  padding-top: $header-size + 15px;
}